{% extends "baselayout.twig" %}

{% block pageinfo %}

  <title>Road to Wordcamp Europe</title>

  <meta name="description" content="Lorem Ipsum Description">

  <link rel="alternate" hreflang="de" href="//{{ APP_URL }}/" />
  <link rel="alternate" hreflang="en" href="//{{ APP_URL }}/en/" />

  <meta property="og:url"                content="//{{ APP_URL }}/" />
  <meta property="og:type"               content="website" />
  <meta property="og:locale"             content="de" />
  <meta property="og:title"              content="Road to Wordcamp Europe" />
  <meta property="og:description"        content="Lorem Ipsum Description" />
  <meta property="og:image"              content="//{{ APP_URL }}/assets/images/og_home.png" />
  <meta property="og:image:url"          content="//{{ APP_URL }}/assets/images/og_home.png" />
  <meta property="og:image:secure_url"   content="//{{ APP_URL }}/assets/images/og_home.png" />
  <meta property="og:image:type"         content="image/png" />
  <meta property="og:image:width"        content="1200" />
  <meta property="og:image:height"       content="630" />
  <meta property="fb:app_id"             content="XXX" />

{% endblock pageinfo %}

{% block bodyclass %}home{% endblock bodyclass %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
{% endblock content %}
